html {
    box-sizing: border-box;
    background-image: url(../images/melon_side.png)
}

body {
    color: greenyellow;
}

img {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
}
h1 {
    color: orange;
    font-size: 48px;
    text-align: center;
    background-color: rgb(93, 94, 94);
    margin: 8px 0;
}

h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

a.back-button {
    text-decoration: none;
    color: #fcf3ea;
    padding: 0;
    margin: 0;
}

a:hover.back-button {
    color: #ada49a;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 8px;
    background-color: black;
}

p {
    padding: 20px;
}

ul {
    padding: 20px 30px;
}

ol {
    padding: 20px 35px;
}

p, ul, ol {
    margin: 0;
}

.info-container{
    margin: 8px 0 0 0;
    background-color: rgb(163, 90, 0);
}