html {
    box-sizing: border-box;
    background-image: url(../images/kitchen-minecraft.png)
}

body {
    color: greenyellow;
}

img {
    display: block;
    height: auto;
    width: 600px;
    margin: 0 auto;
    
}
h1 {
    color: orange;
    font-size: 48px;
    text-align: center;
}

h2 {
    text-align: center;
}

a.back-button {
    text-decoration: none;
    color: #fcf3ea;
    padding: 0;
    margin: 0;
}

a:hover.back-button {
    color: #ada49a;
}

.container {
    width: 800px;
    margin: 0 auto;
}