body {
    background-color: rgb(54, 5, 56);
    font-family: 'Lucida Sans', 'Times New Roman', sans-serif;
}

.title {
    color: orange;
    text-align: center;
    font-size: 72px;
    font-weight: 100;
    font-family: Verdana;
}

.recipe {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}