body {
    font-family: 'Lucida Sans', 'Times New Roman', sans-serif;
    background-image: url(images/kitchen-minecraft.png);
}

.title {
    color: orange;
    text-align: center;
    font-size: 72px;
    font-weight: 100;
    font-family: Verdana;
}

.recipe a {
    color: #fcf3ea;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 1px 0;
}

.recipe a:hover {
    color: #ada49a;
}