html {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Times New Roman', sans-serif;
    background-image: url(images/melon_side.png);
}

.title {
    color: orange;
    text-shadow: 3px 3px black;
    text-align: center;
    font-size: 72px;
    font-weight: 100;
    font-family: Verdana;
}

.recipe a {
    color: #fcf3ea;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 1px 0;
    text-shadow: 2px 2px rgb(43, 43, 43);
}

.recipe a:hover {
    color: #ada49a;
}